@use '../mixins';
@use '../media';

.content {
  &__wrapper {
    display: flex;
    gap: 25px;
  }

  &__slide-position {
    width: 10px;
    height: 30px;
    display: block;
    font-size: 20px;
    color: var(--color-blue-light);
  }

  &__slide-hint {
    width: 70px;
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-blue-light);

    @include media.mobile {
      display: block;
      width: 45px;
      font-size: 15px;
    }
  }
}
